.header {
  padding: 12px 20px;
  border-bottom: 1px solid var(--mantine-color-bg-1);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 22px;
  }
}

section.content {
  overflow-y: hidden;
}

.form {
  width: auto;
  height: calc(100vh - 70px);
  display: flex;
  align-items: flex-start;
}

.mainBox {
  height: 100%;
  position: relative;

  @media (max-width: $mantine-breakpoint-md) {
    position: absolute;
    width: 100%;
    height: calc(100vh - 70px);
  }
}
