.header {
  padding: 20px 12px;
  border-bottom: 1px solid var(--mantine-color-bg-1);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 22px;
  }
}

.content {
  min-width: 700px;

  @media (max-width: $mantine-breakpoint-sm) {
    min-width: 100%;
  }
}
