.root {
  cursor: pointer;
  position: relative;

  
  &:after {
    transition: all .5s;
    border-radius: 12px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    background: var(--mantine-color-secondary-1);
    opacity: 0;
  }
  
  &:hover {
    &::after {
      opacity: .3;
    }
  }
}

.main {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255,255,255,1) 90%, rgba(255, 255, 255, .6) 100%);
}
