.label {
  color: var(--mantine-color-accent-0);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 4px;
}

.inputWrapperRoot {
  line-height: 1;
}

/* TODO: Поменять на переменную */
.inputWrapper {
  margin-bottom: 0;
}

.input {
  border: 1px solid var(--mantine-color-accent-0);
  color: var(--mantine-color-accent-0);

  &:focus-within {
    border: 1px solid var(--mantine-color-primary-0);
  }

  input::placeholder {
    color: var(--mantine-color-accent-2);
    font-size: 16px;
  }

  &[data-error="true"] {
    border-color: var(--mantine-color-danger-0);

    &::placeholder {
      color: var(--mantine-color-danger-2);
    }
  }
}

.error {
  margin-top: 4px;
  color: var(--mantine-color-danger-2);
}

.markLabel {
  font-weight: 500;
  color: var(--mantine-color-accent-0);
}

.trackContainer {
  background-color: var(--mantine-color-bg-0);
}

.thumbLabel {
  color: var(--mantine-color-accent-0);
  font-weight: 400;
  background-color: transparent;
  top: -1.75rem;
}

.buttonRoot {
  &[data-variant="outline"] {
    &:disabled,
    &[data-disabled] {
      background-color: transparent;
    }
  }
}
