.root {
  min-width: 500px;
  padding: 16px;
  height: 100%;

  @media (max-width: $mantine-breakpoint-md) {
    min-width: 100%;
  }
}

div.body {
  padding: 0;
  height: calc(100% - 74px);
}

section.content {
  overflow-y: hidden;
}
