.group {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--mantine-color-accent-0);
  border-bottom: 1px solid var(--mantine-color-accent-0);
  gap: 12px;
  padding: 0 12px;
  height: 38px;
  align-items: center;
  width: 100%;
  max-width: 320px;
  min-width: 220px;
  &:hover {
    background-color: var(--mantine-color-bg-0);
  }
}

.addressButton {
  margin-right: 12px;
}
