.link {
  text-decoration: none;
  text-align: "center";
  white-space: "nowrap";
  font-weight: 500;
  color: var(--mantine-color-accent-0);
  font-size: 14px;
  padding: 8px;

  div {
    border-radius: 12px;
    padding: 4px 6px;
  }

  &:hover {
    div {
      background: var(--mantine-color-secondary-0);
    }
  }
}
