.link {
  text-decoration: none;
  text-align: "center";
  white-space: "nowrap";
  font-weight: 500;
  color: var(--mantine-color-accent-0);
  font-size: 14px;
  padding: 12px;
  padding-bottom: 8px;

  &.bottom {
    padding-top: 8px;
    padding-bottom: 12px;
  }
}
