.icon {
  width: 200px;

  @media (max-width: $mantine-breakpoint-md) {
    width: 160px;
    height: 160px;

    svg {
      width: 160px;
      height: 160px;
    }
  }
}

.text {
  text-align: center;

  font-size: 32px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 22px;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
