.root {
  width: 100%;
  max-width: 882px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    min-width: 100%;
  }

  &.empty {
    max-width: 100%;
  }
}

.main {
  margin-top: 24px;

  @media (max-width: $mantine-breakpoint-md) {
    margin-top: 12px;
  }
}

.delivery {
  @media (min-width: $mantine-breakpoint-md) {
    display: none;
  }
}
