.root {
  min-height: 300px;

  @media (max-width: $mantine-breakpoint-md) {
    min-height: 220px;
  }
}

.wrapper {
  justify-content: center;

  @media (max-width: $mantine-breakpoint-md) {
    > div {
      flex-grow: 1;
    }
  }
}
