.root {
  text-decoration: none;

  .title {
    font-size: 22px;

    @media (max-width: $mantine-breakpoint-md) {
      font-size: 18px;
    }


    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 14px;
    }
  }
}
