.root {
  background: rgba(var(--mantine-color-primary-0), 0.3);

  width: 100%;
  z-index: 10;

  @media (min-width: $mantine-breakpoint-md) {
    display: none !important;
  }
}

.bottomCard {
  padding: 8px;

  background-color: var(--mantine-color-bg-2);
  min-width: 200px;
  border-radius: 8px;
  cursor: pointer;

  &.active {
    background-color: var(--mantine-color-secondary-0);
  }
}
