.root {
  padding: 16px;

  @media (min-width: $mantine-breakpoint-md) {
    padding: 20px;
  }
}

.topSearch {
  max-width: 400px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.bottomSearch {
  @media (min-width: $mantine-breakpoint-md) {
    display: none;
  }
}

button.burger {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
}

img.logo {
  cursor: pointer;

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}
